.box {
    text-transform: uppercase;
    font-size: 5em;
    border: 3px solid black;
    padding: 0.125em 0.25em;
    width: min-content;
}


/* Centering and defaults*/
body {
    display: grid;
    justify-content: safe center;
    align-items: safe center;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-family: 'Arial';
}

* {
    box-sizing: border-box;
}


